body {
	background: #3c3b38;
	margin: 0;
	margin-bottom: 100px;
	font-family: helvetica;
	text-align: center;
}
/*Color combinations are ugly, change them*/
header{
	height: 100px;
	width: 100%;
	background: #c5c2ae;
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;	
}


.tiles {
	display: inline-block;
	align-content: center;
	justify-content: center;
	height: 100px;
	width: 15%;
	background: #52658f;
	text-align: center;
	margin: 5px;
	padding: 13px;
	box-shadow: 10px 10px 50px black;
	border-radius: 5px;
	font-size: 1.25em;
	transition: 2.5s;
}

.tiles:hover {
	background-color: #c5c2ae;
	box-shadow: 5px 5px 0.5px white;
	color: #3c3b38;
	transition: 0.75s;
	cursor: pointer;
}

/*DIV styles to be called through js*/
